Package: com.notdan.lime
Name: Lime
Section: Packaging
Version: 0.1
Author: LimeTeam
Maintainer: LimeTeam
Description: How to stay away from all the drama regarding package managers? Build you own!
Depiction: https://apt.limeinstaller.com/depictions/Lime.html
Icon: file:///Applications/Lime.app/AppIcon76x76@2x~ipad.png
Architecture: all
SileoDepiction: https://apt.limeinstaller.com/depictions/sileo.json
